.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: inherit;

  text-decoration: none;

  width: 100%;
  color: inherit;
}

.quadrado {
  width: 60%;
  height: 50%;
  border-radius: 3px;
  background-color: white;
}

.circulo {
  width: 60%;
  height: 50%;
  border-radius: 50%;
  background-color: white;
}

.estrela {
  width: 60%;
  height: 50%;
  background-color: #ffd700;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 30%
  );
}

.coracao {
  background-color: #fff;
  height: 20px;
  transform: rotate(-45deg);
  width: 20px;
  position: relative;
}

.coracao::before,
.coracao::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.coracao::before {
  top: -10px;
}

.coracao::after {
  left: 10px;
}

.triangulo {
  width: 60%;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 30px solid #fff;
}

.pentagono {
  width: 60%;
  height: 50%;
  background: #fff;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.trapezio {
  width: 60%;
  height: 50%;
  background: #fff;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
}

.ovo {
  display: block;
  width: 60%;
  height: 65%;
  background-color: #fff;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
